{{ define "main" }}
{{ with .Site.Params.debug }}
{{ partial "debug.html" "photography/single.html" }}
{{ end }}
<main id="main" class="main photography">
    <article class="article-content">
        {{ .Content }}
    </article>
    {{ range .Resources.ByType "image" }}
    {{ $img := . }}
    <figure>
        {{ if eq $.Page.Params.keep_original "true"}}
            <img src="{{ $img.RelPermalink }}" alt="{{ if isset $img.Alt }}{{ . }}{{ else }}{{ .Name }}{{ end }}" />
        {{ else }}
            <picture>
                <source srcset="{{ ($img.Resize "1200x q100").RelPermalink }}" media="(max-width: 1200px)">
                <source srcset="{{ ($img.Resize "1000x q100").RelPermalink }}" media="(max-width: 1000px)">
                <source srcset="{{ ($img.Resize "7600x q100").RelPermalink }}" media="(max-width: 640px)">
                <img src="{{ ($img.Resize "1600x q100").RelPermalink }}" />
            </picture>
        {{ end }}
        <figcaption>
            {{ with $img.Exif }}
            <div class="exif">
            <ul>
                <li><span class="label">ISO</span> {{ .Tags.ISOSpeedRatings }}</li>
                <li><span class="label">Focal Length</span> {{ math.Round .Tags.FocalLength }}mm</li>
                <li><span class="label">Aperture</span> f/{{ math.Round .Tags.ApertureValue }}</li>
            </ul>
            </div>
            {{ end }}
            <p>{{ .Name }}</p>
        </figcaption>
    </figure>

    {{ end }}

    <section class="license">
        <p>All images &copy; Kevin Gimbel. If you want to buy any of my photos you can do so on <a
                href="https://www.eyeem.com/u/kevingimbel/market" title="Buy my photographs on EyeEm.com">EyeEm</a>.</p>
    </section>

    <section class="tags-categories">
        {{ partial "categories.html" . }}
        {{ partial "tags.html" . }}
    </section>

    {{ partial "support.html" . }}
    {{ partial "author.html" . }}
</main>
{{ end }}