<section class="author__bio pop-box" style="--color-left: orange; --color-right: purple;">
<div class="flex  [ small-flex__column-reverse ]">
  <div class="flex__boxed" style="max-width: 75%; --padding: 2em 2em 0 0;">
    <p class="h4 mt0">Hi, I'm Kevin!</p>
    <p>I'm a <b>DevOps Engineer</b> with a focus on automation and security. Before shifting into DevOps and cloud computing I worked as <i class="t-accent">Front-End Developer</i>, which is still a hobby and field of interest for me.</p>
  </div>
  <div class="flex__boxed" style="--padding: 2em 0 0 0;">
    <img src="/assets/img/kevin-avatar-w200.jpg" class="author__avatar" alt="Image of Kevin Gimbel, Author of this website"/>
  </div>
</div>
<p>I'm very passionated about a variety of games  - digital, boardgames, and pen & paper; and also interested in Sci-Fi, Cyberpunk, and dystopian books. You can find out more <a href="/about">on the about page</a>.</p>
</section>