{% extends "base.njk" %}

{% block content %}
<article class="post stack">
  <header class="post-header">
    <h1 class="mt0 mb0">{{ title }}</h1>
  </header>
  <div class="post-body stack">
    {{ content | safe }}
    {% set postslist = collections.blog %}
    {% set showYear = true %}
    {% set headingLevel = 'h3' %}
    {% include "postslist.njk" %}
  </div>
</article>
{% endblock %}