{% extends "base.njk" %}

{% block content %}
<article class="post">
  <div class="post-body stack" style="--stack-margin: 3rem;">
    {{ content | safe }}
    {% include "pixelfed.njk" %}
  </div>
</article>
{% endblock %}