{{ define "main" }}
{{ with .Site.Params.debug }}
{{ partial "debug.html" "link/single.html" }}
{{ end }}
<main id="main" class="main">
    <section class="article-single">
        <article class="article-content">
            {{ partial "single-header.html" . }}
            <h3 class="article-preview__heading"><a href="{{ .Params.source }}" title="{{ .Params.source_title }}">{{ .Params.source_title }} &rarr;</a></h3>
            {{ .Content }}
        </article>
    </section>

    <section class="tags-categories">
        {{ partial "categories.html" . }}
        {{ partial "tags.html" . }}
    </section>
    
    {{ partial "support.html" . }}
    {{ partial "author.html" . }}
</main>
{{ end }}