{{ define "custom_meta" }}
<link rel="stylesheet" href="/sass/page.min.css">
{{ end }}


{{ define "main" }}
{{ with .Site.Params.debug }}
{{ partial "debug.html" "book/list.html" }}
{{ end }}
{{- $borderStyle := partial "helper-border-radius.html" . -}}

<main id="main" class="main">
    {{- $borderStyle := partial "helper-border-radius.html" . -}}
    <article  {{ printf "style=%q" $borderStyle | safeHTMLAttr }} class="page-content">        
        {{ .Content }}

        <nav class="page-nav" id="years" role="navigation" aria-label="Blog list naviation">Skip to:
            {{ range (where .Site.Pages "Section" .Section).GroupByDate "2006" }}
                <a href="#{{ .Key }}" title="View books read in {{ .Key }}">{{ .Key }}</a>
            {{ end }}
        </nav>

        {{ range (where .Site.Pages "Section" .Section).GroupByDate "2006" }}
        <article class="reading-list__article">
            <header class="article-list__header">
            {{ if eq .Key "0001" }}
                <h2 id="unknown" class="section-headline">Unknown date</h2>
            {{ else }}
                <h2 id="{{ .Key }}" class="section-headline">{{ .Key }}</h2>
            {{ end }}
            </header>
    
            <ul class="reading-list">
                {{ range .Pages }}
                {{ if ne .File.LogicalName "_index.md" }}
                    <li>
                        {{ if gt .WordCount 0 }}
                        <a href="{{.Permalink}}" title="Read my comment about {{ .Title }}">{{.Title}}</a>
                        {{ else }}
                        <b>{{.Title}}</b>
                        {{ end }}
                        <small>by {{ range .Params.authors }} {{ . }}{{ end }} {{ with .Params.rating }}({{ . }}/5<span class="reading__star">⭑</span>){{ end }}{{ if eq .Params.in_progress true}} (currently reading){{ end }}</small>
                    </li>
                {{ end }}
                {{ end }}
            </ul>
        </article>
        {{ end }}
    </article>
</main>
{{ end }}