{{ define "custom_meta" }}
{{ $post := . }}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@kevingimbel">
    <meta name="twitter:creator" content="@_kevinatari">
    <meta name="twitter:title" content="{{ $post.Title }}">
    <meta name="twitter:description" content="{{ $post.Summary }}">
    {{ range .Resources.ByType "image" | first 1 }}
        {{ $img := . }}
        <meta name="twitter:image" content="{{ ($img.Resize "1600x q100").Permalink }}">
    {{ end }}
{{ end }}

{{ define "main" }}
{{ with .Site.Params.debug }}
{{ partial "debug.html" "blog/single.html" }}
{{ end }}
{{- $borderStyle := partial "helper-border-radius.html" . -}}
<main id="main" class="main">
<section class="article-single" {{ printf "style=%q" $borderStyle | safeHTMLAttr }}> 
        <header class="article-header">
            {{ partial "single-header.html" . }}
        </header>
        <article class="article-content">

            {{ with .Params.series }}
                {{ $name := index . 0 | urlize }}
                {{ $series := index $.Site.Taxonomies.series $name }}
                <div class="series__box">
                    <small>More articles in this series</small>
                    {{ range $series.Pages.ByDate }}
                        <p><a href="{{.Permalink}}">{{.LinkTitle}}</a></p>
                    {{end}}
                </div>
            {{ end }}
            <div class="content">
                {{ .Content }}
            </div>
        </article>
    </section>
</main>
{{ end }}


{{ define "support" }}
<section class="tags-categories">
    {{ partial "categories.html" . }}
    {{ partial "tags.html" . }}
</section>
    {{ partial "prev-next.html" . }}
    {{ partial "support.html" . }}
    {{ partial "author.html" . }}
{{ end }}