:root {
  --content-width: 50rem;
}


@media (prefers-color-scheme: light) {
  :root {
    --color-accent: #24d;
    --color-accent-fg: #fff;
    /* --color-secondary: #ebc9eb; */
    --color-secondary: #f1cce1;
    --color-secondary-fg: #222;
    
    --color-contrast: #221853;
    --color-contrast-fg: #d6e6ff;

    --color-page-bg: #d6e6ff;
    --color-page-fg: #222;

    --color-dark-bg: #111;
    --color-dark-fg: #ccc;

    --color-header-wave: #f1f5f7;
    --color-footer-wave: #111;

    --logo-dice-fill-color: var(--color-accent);
  }
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/assets/font/plex/IBMPlexMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: bold;
  src: url("/assets/font/plex/IBMPlexMono-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: bold;
  font-style: italic;
  src: url("/assets/font/plex/IBMPlexMono-BoldItalic.ttf") format("ttf");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  src: url("/assets/font/plex/IBMPlexMono-Italic.ttf") format("ttf");
}

* {
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
  line-height: 1.65;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-page-fg, #222);
  background: var(--color-page-bg, #ebc9eb);
}

@media (prefers-color-scheme: dark) {
  :root {
  --color-accent: hotpink;
  --color-accent-fg: #222;
  
  --color-secondary: #7fa4e4;
  --color-secondary-fg: #222;
  
  --color-contrast: #e4e474;
  --color-contrast-fg: #222;

  --color-page-bg: #222;
  --color-page-fg: rgb(211, 221, 248);
  
  --color-dark-bg: #222;;
  --color-dark-fg: rgb(211, 221, 248);
  
  --color-header-wave: #211177;
  --color-footer-wave: #111;

  /* SVG logo colors */
  --logo-dice-fill-color: var(--color-accent);
  --logo-writing-fill-color: rgb(211, 221, 248);
  
  /* Colors for pop-box component */
  --color-left: var(--color-accent);
  --color-right: var(--color-secondary);
  }
} 

a, a:visited {
  color: var(--color-accent, #24d);
}

*:focus {
  outline: 2px dashed var(--color-accent);
}

::selection {
  background-color: var(--color-contrast, #000);
  color: var(--color-contrast-fg, #fff);
}

.stack > * + * {
  margin-top: var(--stack-margin, 1rem);
}

hr {
  height: .125em;
  width: 80%;
  margin: 4rem auto;
  background-color: var(--color-accent);
  border: none;
}

/* ******************************* TYPOGRAPHY */
h1, .h1 {
  font-size: 3.25rem;
  font-size: clamp(5vw, 3.5rem, 5rem);
}
h2, .h2 {
  font-size: 2.75rem;
  font-size: clamp(2rem, 2vw, 2.75rem);
}
h3, .h3 {
  font-size: 2.5rem;
}
h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.5rem;
}

p, .p, li {
  font-size: 1.25rem;
}

.t-accent {
  position: relative;
  display: inline-block;
}

.t-accent::after {
    content: "";
    display: block;
    position: absolute;
    bottom: .1em;
    width: 100%;
    height: .15em;
    background-color: var(--color-accent);
    filter: opacity(.5);
}


/* ******************************* SITE HEADER */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  flex-direction: column;
  background: var(--color-header-wave);
  min-height: 10vh;
}

.site-header svg {
  max-width: 230px;
  max-height: 100px;
}

/* ******************************* SITE NAVIGATION */
.site-nav {
  font-size: 1.5rem;
  text-align: center;
}
.site-nav a,
.site-nav a:visited {
  padding: .25em 1em;
  color: var(--color-accent, #24d);
  opacity: 1;
}

.site-nav a:hover {
  outline: .1em dashed var(--color-accent);
}

.site-nav a.active {
  outline: .1em solid;
  background: var(--color-page-fg);
  color: var(--color-page-bg);
  text-decoration: none;
}

/* ******************************* NOTE COMPONENT */
.note {
  padding: 1.25em;
  margin: 1.5em 0;
}

.note a {
  color: var(--color-contrast-fg);
}

.note.warn {    
  background: var(--color-contrast, #fff);
  color: var(--color-contrast-fg, #000);
  border-radius: 6px;
  box-shadow: .5em .5em 0 indianred, -.5em -.5em 0 firebrick;
}

.note.info {
  background: var(--color-accent, #fff);
  color: var(--color-accent-fg, #000);
  border-radius: 6px;
  box-shadow: .5em .5em 0 var(--color-contrast, #fff), -.5em -.5em 0 var(--color-secondary, #000);
}

/* ******************************* POP-BOX COMPONENT */
.pop-box {
  background: var(--custom-gradient, linear-gradient(var(--gradient-deg, 45deg), var(--color-left, blue), var(--color-right, red)));
  border-radius: 6px;
  padding: var(--padding, 2em);
  position: relative;
  z-index: 1;
}

.pop-box::before {
  content: '';
  width: 98%;
  height: 94%;
  background: var(--color-page-bg, var(--color-bg, #fff));
  display: block;
  position: absolute;
  top: 3%;
  left: 1%;
  z-index: -1;
  filter: opacity(0.7);
  border-radius: 6px;
}

/* ******************************* List styles */

ul li {
  list-style: none;
}

/* Custom List Icons */
ul li::before {
  content: "✦";
  color: var(--color-accent);
  display: inline;
  width: 1em;
  margin-left: -1.25em;
  padding-right: .5em;
}

/* ******************************* Quote styles */

.quotefm::before,
.quotefm::after {
  content: none;
}

.quotefm {
  border: none;
}
/*
 * QuoteFM blockquote code by Martin Wolf https://codepen.io/martinwolf/pen/lkfGJ
 */
.quotefm__content {
  color: var(--color-accent-fg);
  background: var(--color-accent);
  line-height: 38px;
  font-size: 20px;
  font-weight: bold;
}

.quotefm__source {
  display: block;
  font-size: .85em;
}

.quote-lvl1,
.quote-lvl2,
.quote-lvl3 {
    position: relative;
}

.quote-lvl1,
.quote-lvl2 {
    padding: 6px 0;
    background: var(--color-accent);
    border-bottom: 1px solid var(--color-page-bg);
}

.quote-lvl2 {
  right: 20px;
}

.quote-lvl3 {
  left: 10px;
}

blockquote {
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
blockquote::before, 
blockquote::after {
  content: '"';
  height: 1em;
  font-size: 5em;
  font-style: italic;
  position: absolute;
  background: var(--color-page-bg);
}
blockquote::before {
  left: -.5em;
  top: -.5em;
}
blockquote::after {
  right: 0;
  bottom: -.25em;
}

.content {
  min-height: 50vh;
}

.site-footer {
  background: var(--color-footer-wave);
  color: var(--color-dark-fg);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}

.site-footer a {
  color: var(--color-dark-fg);
}

.site-footer p {
  font-size: 1rem;
}

.footer-wave {
  margin-top: 4rem;
  margin-bottom: -1px;
}

/* ******************************* POST STYLES */

/** micro posts are comment-like posts */
.post__micro {
  --stack-margin: 2rem;
  /* margin: 2rem 0; */
}

.post__micro p {
  font-size: 1.35em;
}

.post-footer, .author__bio {
  max-width: 50rem;
  margin: 0 auto;
}

.post-header__svg-title {
  max-width: 100vw;
}


.post-body, .post-header {
  display: grid;
  grid-template-areas: 'left center right';
  grid-template-columns: 1fr var(--content-width) 1fr;
  grid-gap: 0;
  word-break: break-word; 
}

.post-header {
  padding: 0 2rem;
  text-align: center;
}

.post-body *,
.post-header * {
  grid-area: center;
  grid-row: auto;
  grid-column: center;
}

.break-left {
  grid-area: left;
  grid-column-start: left;
  grid-column-end: center;
  grid-row: auto;
}

.break-right {
  grid-area: center;
  grid-column-start: center;
  grid-column-end: right;
  grid-row: auto;
}

.break-full-width {
  grid-area: left;
  grid-column-start: left;
  grid-column-end: right;
  grid-row: auto;
}

.post h1 {
  font-size: clamp(2.5rem, 4vw, 5rem);
  line-height: 1;
  font-style: italic;
}

.post-body > p:first-of-type {
  --stack-margin: 2rem;
  font-size: 1.5em;
  /* margin: 2em 0; */
}

.post img {
  max-width: 100%;
}
/* @TODO: needs rework
.post-body h2,
.post-body h3,
.post-body h4 {
  position: sticky;
  top: 0;
  background: var(--color-page-bg);
  padding: .25em;
  width: 100vw;
  overflow: hidden;
} */

pre {
  overflow: auto;
  border-radius: .6em;
  background: var(--color-dark-bg);
  color: var(--color-dark-fg);
  position: relative;
}

pre::after {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--color-accent);
  padding: .25em;
  border-bottom-left-radius: .6em;
  letter-spacing: .1em;
  font-family: monospace;
  font-size: .95rem;
}

pre:hover::after {
  display: none;
}

pre.language-svg::after {
  content: "SVG";
}

pre.language-bash::after {
  content: "SHELL";
}

pre.language-rust::after {
  content: "RUST";
}

pre.language-html::after {
  content: "HTML";
}

pre.language-css::after {
  content: "CSS";
}

pre.language-hcl::after {
  content: "HCL";
}

pre.language-javascript::after,
pre.language-js::after {
  content: "JS";
}

code[class*="language-"],
pre > code {
  width: 100%;
  display: block;
  overflow: auto;
  padding: 1em;
}

p > code {
  color: #000;
  background: rgba(255,255,255, 0.5);
  padding: .125em;
  border-radius: 3px;
  box-shadow:0 2px 4px rgba(0,0,0,0.4);
  font-size: .9em;
}

.post-list {
  padding-left: 0;
}

.post-listing {
  list-style: none;
  font-size: 1.5rem;
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.post-listing::before {
  color: var(--color-contrast);
}

.post-listing__headline {
  list-style: none;
}
.post-listing__headline::before {
  content: none;
}

.post-listing__headline ~ .post-listing {
  margin-top: 0;
}

.post-listing__header {
  font-size: .8em;
  display: inline-block;
}

.post-listing__header a,
.post-listing__header a:visited {
  color: var(--color-contrast);
}

.post-heading__link--link {
  position: relative;
}

.post-heading__link--link::before {
  content: "";
  border: .1em solid;
  position: absolute;
  top: .25em;
  right: -1em;
  height: .5em;
  width: .5em;
}

.post-heading__link--link::after {
  content: "↗";
  position: absolute;
  right: -1.5em;
  top: -0.5em;
  text-shadow: 1px 1px 0 var(--color-page-bg), 2px 2px 0 var(--color-page-bg), -1px -1px 0 var(--color-page-bg), -2px -2px 0 var(--color-page-bg);
}

.post-heading__subtitle {
  font-style: italic;
}

.post__prev-next {
  justify-content: space-between;
}

@media all and (max-width: 900px) {
  .post__prev-next {
    flex-direction: column;
  }
}
/* ******************************* AUTHOR COMPONENT */

.author__bio {
  margin-top: 4rem;
}

.author__avatar {
  width: 325px;
}

.author__avatar, .img--fancy-border {
  border-radius: 44% 56% 70% 30%/10% 42% 58% 48%;
}


/* ******************************* FIGURE COMPONENT */

figure {
  counter-increment: figure;
  margin: var(--stack-margin) 0;
}

figcaption {
  font-size: 1rem;
}

figcaption::before {
  content: "Figure " counter(figure) ": ";
  font-weight: bold;
}

.break-left figcaption {
  padding-left: var(--stack-margin, 1rem);
}

/* ******************************* PICTURE */

picture {
  display: block;
  width: 100%;
}

picture img {
  width: 100%;
}


/* ******************************* BOOKS */
.book-list {
  list-style: none;
}

/* ******************************* SMALL SCREENS */


@media all and (max-width: 900px) {

  .site-nav {
    margin-top: 1rem;
  }

  .post-body, .post-header {
    font-size: 90%;
    grid-template-columns: 1fr 100% 1fr;
  }

  .post h1 {
    font-size: 2.75rem;
  }

  .post h2 {
    font-size: 2rem;
  }

  .post p, .post li {
    font-size: 1rem;
  }

  .post-heading__subtitle {
    font-size: 1.75rem;
  }

  .post-body, .post-header, .post-footer {
    padding: 0 2rem;
  }

  .small-flex__column {
    flex-direction: column;
  }
  
  .small-flex__row {
    flex-direction: row;
  }
  
  .small-flex__column-reverse {
    flex-direction: column-reverse;
  }

  .author__bio .flex__boxed {
    width: 100%;
    max-width: 100% !important;
  }

  .site-footer {
    padding: 2rem 1rem;
    align-items: flex-start;
  }
}

@media all and (min-width: 900px) {
  .site-header {
    flex-direction: row;
  }

  picture {
    padding: 2rem;
  }
}

@media all and (min-width: 1200px) {
  picture {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

/* ******************************* Helper */
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mr0 { margin-right: 0 !important; }
.ml0 { margin-left: 0 !important; }


.mt1 { margin-top: 1rem !important; }
.mb1 { margin-bottom: 1rem !important; }
.mr1 { margin-right: 1rem !important; }
.ml1 { margin-left: 1rem !important; }

.mt2 { margin-top: 2rem !important; }
.mb2 { margin-bottom: 2rem !important; }
.mr2 { margin-right: 2rem !important; }
.ml2 { margin-left: 2rem !important; }

.db { display: block; }

.pl1 { padding-left: 1rem !important; }
.pl2 { padding-left: 2rem !important; }

/* ******************************* FLEX HELPER */
.flex {
  display: flex;
}

.flex__row {
  flex-direction: row;
}

.flex__column {
  flex-direction: column;
}

.flex--centered {
  align-items: center;
  justify-content: center;
}

.flex--space-around {
  justify-content: space-around;
}

.flex__boxed {
  padding: var(--padding, 2rem);
}


code, pre {
  font-family: 'IBM Plex Mono', monospace;
}

/* ============================================ SIDE BY SIDE */ 


.side-by-side img {
  width: auto;
  max-width: 100%;
}

.side-by-side .bg {
  background: var(--color-accent, #000);
  color: var(--color-accent-fg, #f1f1f1);
}
.side-by-side .bg a {
  color: var(--color-accent-fg, #f1f1f1);
  font-weight: bold;
}

@media all and (min-width: 640px) {
  .side-by-side {
    --stack-margin: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      /* margin: 2rem 0; */
  }
  
  .side-by-side.align-top {
      align-items: flex-start;
  }
  
  .side-by-side.align-bottom {
      align-items: flex-end;
  }

  .side-by-side .small {
      max-width: 38%;
      width: 100%;
      padding: var(--stack-margin, 2rem);
  }

  .side-by-side .wide {
      max-width: 58%;
      padding: var(--stack-margin, 2rem);
  }

  .side-by-side img,
  .side-by-side figure {
      max-width: 100%;
      margin: 0;
  }
}


/* ============================================ SYNTAX HIGHLIGHTING

Name:       Base16 Tomorrow Dark
Author:     Chris Kempson (http://chriskempson.com)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

code[class*="language-"],
pre[class*="language-"] {
  font-family: 'IBM Plex Mono', Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 1rem;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #1d1f21;
  color: #c5c8c6;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b4b7b4;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b4b7b4;
}

/* Code blocks */
pre[class*="language-"] {
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #969896;
}

.token.punctuation {
  color: #c5c8c6;
}

.token.namespace {
  opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #de935f;
}

.token.property {
  color: #f0c674;
}

.token.tag {
  color: #81a2be;
}

.token.string {
  color: #8abeb7;
}

.token.selector {
  color: #b294bb;
}

.token.attr-name {
  color: #de935f;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #8abeb7;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #b5bd68;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #8abeb7;
}

.token.placeholder,
.token.variable {
  color: #81a2be;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #ffffff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #cc6666;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #cc6666;
  outline-offset: .4em;
}

.line-numbers .line-numbers-rows {
  border-right-color: #282a2e !important;
}

.line-numbers-rows > span:before {
  color: #373b41 !important;
}

/* fix: user-agent styles make `mark` really ugly inside pre.*/
pre mark {
  background: inherit;
  color: inherit;
}

mark.highlight-line-active {
  background: rgba(128,128,128, 0.4);
  padding: 0;
}

.line-highlight {
  background: rgba(255, 255, 255, 0.2) !important;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0)) !important;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0)) !important;
}

.mermaid {
  background: #fff;
  color: #000;
}

/* Totally stolen from Wes Bos. https://wesbos.com/ */
@media (min-width: 2500px) {
  body::after {
      content: "Wow you have a big monitor!";
      display: block;
      position: fixed;
      top: 0px;
      bottom: 0px;
      right: 3rem;
      font-size: 6.5vh;
      pointer-events: none;
      transform: rotate(90deg);
      text-shadow: var(--color-accent) 2px 2px 0px;
      color: #000;
  }
}
.pixelfed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.pixelfed .img-boxed {
  grid-area: auto;
  grid-row: auto;
  grid-column: auto;
}

.post-teaser {
  padding: 2rem;
}

@media all and (min-width: 900px) {
  .home__last-posts {
    display: grid;
    grid-template-columns: repeat(minmax(10rem, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 4rem;
  }
  .home__last-posts-wrap {
    padding: 4rem;
  }
}
.post-teaser.post-teaser-0 {
  grid-column: 1 / span 3;
  background: var(--color-accent);
  color: var(--color-accent-fg);
}

.post-teaser-0 a {
  color: var(--color-accent-fg);
}

.post-teaser.post-teaser-1 {
  grid-column: 3;
  grid-row: 2 / span 2;
  background: var(--color-secondary);
  color: var(--color-secondary-fg);
}

.post-teaser-1 a {
  color: var(--color-secondary-fg);
}

.post-teaser.post-teaser-2 {
  grid-row: 2;
  grid-column: 1 / span 2;
  background: var(--color-contrast);
  color: var(--color-contrast-fg);
}

.post-teaser-2 a {
  color: var(--color-contrast-fg);
}

.post-teaser__view-all {
  grid-row: 3;
  grid-column: 1 / span 2;
  background: var(--color-dark-fg);
  color: var(--color-dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-teaser__view-all p {
  font-size: 3rem;
  background: rgba(0,0,0,0.8);
  padding: .25em;
}

.post-teaser__view-all a {
  color: var(--color-dark-fg);
  font-style: italic;
  font-weight: bold;
}

.post-teaser__has-bg-img a {
  color: var(--color-dark-fg);
}

.post-teaser__has-bg-img .post-teaser__body {
  background: var(--color-dark-bg);
  padding: var(--padding, 1.5rem);
}


@media all and (max-width: 900px) {
  .pixelfed {
    margin-left: -2.75rem;
    width: calc(100vw - .15rem);
  }
}
