{{ if ne .WordCount  0 }}
{{ if ne .File.LogicalName "_index.md" }}

<article class="article article--in-list {{ .Section }} article-{{ .Params.Type }}" aria-labelledby="article-heading-{{ .File.UniqueID }}" aria-describedby="article-summary-{{ .File.UniqueID }}">
    {{ partial "publish_date_list.html" . }}
    <h3 class="article-preview__heading"><a id="article-heading-{{ .File.UniqueID }}" href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{ with .Params.intro_text }}
    <h4>{{ . | markdownify }}</h4>
    {{ end }}
    {{ $link := .Permalink }}
    {{ if isset .Params "no_featured_image" }} 
    {{ else }}
        {{ range .Resources.ByType "image" | first 1 }}
        <figure class="article-preview__figure">
            <a href="{{ $link }}">
                <img src="{{ (.Resize "1230x q75").RelPermalink }}" alt="{{ . }}"/>
            </a>
            <figcaption>
                <p>{{ .Name }}</p>
            </figcaption>
        </figure>
        {{ end }}
    {{ end }}

    <p id="article-summary-{{ .File.UniqueID }}">{{ .Summary }}</p>
    <a href="{{ .Permalink }}" title="Continue reading about {{ .Title }}">View full post</a>
</article>
{{ end }}
{{ end }}