{{ if ne .WordCount  0 }}
{{ if ne .File.LogicalName "_index.md" }}
<article class="article article--in-list {{ .Section }}" aria-labelledby="article-heading-{{ .File.UniqueID }}" aria-describedby="article-summary-{{ .File.UniqueID }}">
    <h3><a id="article-heading-{{ .File.UniqueID }}" href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{ with .Params.intro_text }}
    <h4>{{ . | markdownify }}</h4>
    {{ end }}
    <small>Published on <time datetime="{{ .Date }}">{{ .Date.Format "02. Jan 2006" }}</time></small>
    {{ $link := .Permalink }}
    {{ range .Resources.ByType "image" | first 1 }}
    <figure>
        <a href="{{ $link }}"><img src="{{ (.Resize "1530x q75").RelPermalink}}" /></a>
        <figcaption>
            <p>{{ .Name }}</p>
        </figcaption>
    </figure>
    {{ end }}

    <p id="article-summary-{{ .File.UniqueID }}">{{ .Summary }}</p>
    <a href="{{ .Permalink }}" title="Continue reading about {{ .Title }}">View full post</a>
</article>
{{ end }}
{{ end }}