<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }}{{ with .Title }} &mdash; {{ end }}{{ .Site.Title }}</title>
    <meta name="author" content="Kevin Gimbel">
    <meta name="description" content="Personal website of Kevin Gimbel, DevOps Engineer, about photography, books, coding, devops, gaming, and whatever comes in between">
    <meta keywords="{{ with .Params.Tags }}{{ range . }}{{. }} {{ end }}{{ end }} {{ .Section }} {{ with .Params.Categories }}{{ range . }}{{. }} {{ end }}{{ end }} {{ .Site.Params.Keywords }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧙‍♂️</text></svg>">
    {{ with $.Params.is_next }}
    <meta name=“robots“ content=“noindex, nofollow“ />
    {{ end }}
    <style type="text/css">{{- ((resources.Get "css/style.css" | minify).Content | safeCSS ) }}</style>
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ block "custom_meta" . }}
    {{ end }}
</head>
<body class="{{ with .Kind }}type-{{ . }} {{ end }}{{ with .Section }}section-{{ . }}{{ end }}">
    <script type="text/javascript">{{- ((resources.Get "js/theme.js" | minify).Content | safeJS ) }}</script>
    <span style="display: none;" aria-hidden="true" id="widget_color_changer_txt_keep">{{ i18n "widget_color_changer_keep" }}</span>
    <span style="display: none;" aria-hidden="true" id="widget_color_changer_txt_random">{{ i18n "widget_color_changer_random" }}</span>
    <section class="main-grid">
    <header class="site-header">
    <nav role="navigation" id="navigation" aria-label="Main Navigation">
        <ul class="nav-main">
            {{ $currentPage := . }}
            {{- range .Site.Menus.main -}}
            {{ $isCurrent := eq .URL $currentPage.RelPermalink }}
            <li class="nav-item{{ if $isCurrent }} nav-item--active{{ end }}">
                <a href="{{ .URL }}" data-perm="{{ $currentPage.RelPermalink }}" {{ if $isCurrent }}class="wavy-text" data-css-text="{{ .Name | replaceRE "[gjyqp ]" "a" }}"{{ end }}>{{ .Name }}</a>
            </li>{{- end -}}
        </ul>
    </nav>
    <section class="settings">
        <details>
            <summary>Settings</summary>
            <div class="settings-inner">
                <label for="btn_schema" class="settings-field">{{ i18n "ui_settings_color" }}<br>
                    <button id="btn_schema" class="btn-color-switch"></button>
                </label>
                <label for="resizer" class="settings-field">{{ i18n "ui_settings_content_width"}}<br>
                    <select name="resize" id="resizer">
                        <option value="40">Small</option>
                        <option value="60">Medium</option>
                        <option value="80">Large</option>
                        <option value="full">Full</option>
                    </select>
                </label>
            </div>
        </details>
</section>
    </header>

    <section class="site-main-content">
        {{- block "main" . -}}
        {{- end -}}
    </section>

    <section class="site-support">
        {{- block "support" . -}}
        {{- end -}}
    </section>

    <footer class="site-footer footer">

        <nav role="navigation" id="footer-navigation" aria-label="Secondary Navigation">
        <p>{{ i18n "ui_more_sections" }} </p>
        <ul class="nav-footer">
            {{ $currentPage := . }}
            {{- range .Site.Menus.footer -}}
            {{ $isCurrent := eq .URL $currentPage.RelPermalink }}
            <li class="nav-item{{ if $isCurrent }} nav-item--active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>{{- end -}}
            </ul>
        </nav>


        <div class="left">
            <p>{{ i18n "ui_copyright_footer" (now.Format "2006") | safeHTML }} <a href="/blog/2020/01/no-tracking/">No Tracking</a>.</p>
            <p><small>{{ i18n "ui_follow_twitter" | safeHTML }}</small></p>
            </p>
        </div>
        <div class="right">
            <p><small class="xx-small">{{ i18n "ui_found_issue" . | safeHTML }}</a></small></p>
            <p><small class="xx-small">{{ i18n "ui_made_width" . | safeHTML }}</small>
            </p>
            <p><small class="xx-small"><a href="/legal">{{ i18n "ui_imprint" }}</a></small></p>
            <p><small class="xx-small"><code>¯\_(ツ)_/¯</code></small></p>
        </div>  
    </footer>
    </section>
    {{ partial "kg-shortcodes-hook.html" . }}
</body>

</html>
