{{ define "main" }}
{{ with .Site.Params.debug }}
{{ partial "debug.html" "_default/index.html" }}
{{ end }}
<main id="main" class="main">
    <article class="article-content">
        {{ .Content }}

        <hr>

        <h2 class="section-headline">Newest content</h2>

        <h3>Articles</h3>
        {{ range (where .Site.Pages "Section" "blog") }}
        {{ range first 1 .Pages }}
        {{ if ne .WordCount  0 }}
        <article class="article article--in-list" aria-labelledby="article-heading-{{ .File.UniqueID }}" aria-describedby="article-summary-{{ .File.UniqueID }}">
            <h3><a id="article-heading-{{ .File.UniqueID }}" href="{{ .Permalink }}">{{ .Title }}</a></h3>
            {{ with .Params.intro_text }}
            <h4>{{ . | markdownify }}</h4>
            {{ end }}
            <small>Published on <time datetime="{{ .Date }}">{{ .Date.Format "02. Jan 2006" }}</time></small>
            {{ if isset .Params "no_featured_image" }} 
            {{ else }}
                {{ range .Resources.ByType "image" | first 1 }}
                <figure>
                    <img src="{{ (.Resize "1600x q75").RelPermalink}}" title="{{ .Name }}" />
                    <figcaption>
                        <p>{{ .Name }}</p>
                    </figcaption>
                </figure>
                {{ end }}
            {{ end }}

            <p id="article-summary-{{ .File.UniqueID }}">{{ .Summary }}</p>
            <a href="{{ .Permalink }}" title="Continue reading about {{ .Title }}">View full post</a>
        </article>
        {{ end }}
        {{ end }}
        {{ end }}

        <p>View all <a href="/blog/">articles</a></p>

        <h3>Latest photos</h3>
        {{ range (where .Site.Pages "Section" "photography") }}
        {{ range first 1 .Pages }}
        {{ if ne .WordCount  0 }}
        <article class="article article--in-list photography" aria-labelledby="article-heading-{{ .File.UniqueID }}" aria-describedby="article-summary-{{ .File.UniqueID }}">
            <h3><a id="article-heading-{{ .File.UniqueID }}" href="{{ .Permalink }}">{{ .Title }}</a></h3>
            {{ with .Params.intro_text }}
            <h4>{{ . | markdownify }}</h4>
            {{ end }}
            <small>Published on <time datetime="{{ .Date }}">{{ .Date.Format "02. Jan 2006" }}</time></small>

            {{ range .Resources.ByType "image" | first 1 }}
            <figure>
                <img src="{{ (.Resize "1600x q75").RelPermalink}}" title="{{ .Name }}" />
                <figcaption>
                    <p>{{ .Name }}</p>
                </figcaption>
            </figure>
            {{ end }}

            <p id="article-summary-{{ .File.UniqueID }}">{{ .Summary }}</p>
            <a href="{{ .Permalink }}" title="Continue reading about {{ .Title }}">View full post</a>
        </article>
        {{ end }}
        {{ end }}
        {{ end }}

        <p>View all <a href="/photography/">photos</a></p>
    </article>
</main>
{{ end }}