{{ define "main" }}
{{ with .Site.Params.debug }}
{{ partial "debug.html" "_default/index.html" }}
{{ end }}
<main id="main" class="main">
    <article class="article-content">
        {{ .Content }}

        <hr>

        <h2 class="section-headline">{{ i18n "ui_latest_posts" 1 }}</h2>

        {{ range (where .Site.Pages "Section" "blog") }}
        {{ range first 1 .Pages }}
        {{ if ne .WordCount  0 }}
        <article class="article article--in-list" aria-labelledby="article-heading-{{ .File.UniqueID }}" aria-describedby="article-summary-{{ .File.UniqueID }}">
            <h3><a id="article-heading-{{ .File.UniqueID }}" href="{{ .Permalink }}">{{ .Title }}</a></h3>
            {{ with .Params.intro_text }}
            <h4>{{ . | markdownify }}</h4>
            {{ end }}
            <small>Published on <time datetime="{{ .Date }}">{{ .Date.Format "02. Jan 2006" }}</time></small>
            {{ if isset .Params "no_featured_image" }} 
            {{ else }}
                {{ range .Resources.ByType "image" | first 1 }}
                <figure>
                    <picture>
                        <source srcset="{{ (.Resize "1200x q100").RelPermalink }}" media="(max-width: 1200px)">
                        <source srcset="{{ (.Resize "1000x q100").RelPermalink }}" media="(max-width: 1000px)">
                        <source srcset="{{ (.Resize "760x q100").RelPermalink }}" media="(max-width: 640px)">
                        <img src="{{ (.Resize "1600x q100").RelPermalink }}" />
                    </picture>
                    <figcaption>
                        <p>{{ .Name }}</p>
                    </figcaption>
                </figure>
                {{ end }}
            {{ end }}

            <p id="article-summary-{{ .File.UniqueID }}">{{ .Summary }}</p>
            <a href="{{ .Permalink }}" title="{{ i18n "ui_continue_reading_about" . }}">{{ i18n "ui_view_more_post" . }}</a>
        </article>
        {{ end }}
        {{ end }}
        {{ end }}

        <p>{{ i18n "ui_view_all_posts" . | safeHTML }}</p>

        {{ range (where .Site.Pages "Section" "photography") }}
        {{ range first 1 .Pages }}
        {{ if ne .WordCount  0 }}
        <h2 class="section-headline">{{ i18n "ui_latest_photo" 1 }}</h2>

        <article class="article article--in-list photography" aria-labelledby="article-heading-{{ .File.UniqueID }}" aria-describedby="article-summary-{{ .File.UniqueID }}">
            <h3><a id="article-heading-{{ .File.UniqueID }}" href="{{ .Permalink }}">{{ .Title }}</a></h3>
            {{ with .Params.intro_text }}
            <h4>{{ . | markdownify }}</h4>
            {{ end }}
            <small>Published on <time datetime="{{ .Date }}">{{ .Date.Format "02. Jan 2006" }}</time></small>

            {{ range .Resources.ByType "image" | first 1 }}
            <figure>
                <picture>
                    <source srcset="{{ (.Resize "1200x q100").RelPermalink }}" media="(max-width: 1200px)">
                    <source srcset="{{ (.Resize "1000x q100").RelPermalink }}" media="(max-width: 1000px)">
                    <source srcset="{{ (.Resize "760x q100").RelPermalink }}" media="(max-width: 640px)">
                    <img src="{{ (.Resize "1600x q100").RelPermalink }}" />
                </picture>
                <figcaption>
                    <p>{{ .Name }}</p>
                </figcaption>
            </figure>
            {{ end }}

            <p id="article-summary-{{ .File.UniqueID }}">{{ .Summary }}</p>
            <a href="{{ .Permalink }}" title="{{ i18n "ui_continue_reading_about" . }}">{{ i18n "ui_view_more_post" . }}</a>
        </article>
        <p>{{ i18n "ui_view_all_photos" . | safeHTML }}</p>
        {{ end }}
        {{ end }}
        {{ end }}

    </article>
</main>
{{ end }}