{{ define "main" }}
{{ with .Site.Params.debug }}
{{ partial "debug.html" "_default/list.html" }}
{{ end }}
<main id="main {{ .Section }}" class="main">
    {{ .Content }}

    {{ partial "page-nav.html" . }}

    {{ partial "subscribe-rss.html" . }}

    {{ range (where .Site.Pages "Section" .Section).GroupByDate "2006" }}
    <header class="article-list__header">
        <h2 id="{{ .Key }}" class="section-headline">{{ .Key }}</h2>
        <p><a href="#years">Back to navigation</a></p>
    </header>
    {{ range .Pages }}
    {{ .Render "article-preview" }}
    {{ end }}
    {{ end }}
</main>
{{ end }}