{{ define "main" }}
{{ with .Site.Params.debug }}
{{ partial "debug.html" "_default/single.html" }}
{{ end }}
<main id="main" class="main">
    <article class="page-content">
        {{ if .IsTranslated }}
        <header class="language-menu">
            <nav class="language-nav"><span>{{ i18n "ui_lang_available_in" }}</span>
                <ul>
                    {{ range .Translations }}
                    <li>
                        <a href="{{ .Permalink }}">{{ i18n (printf "ui_lang_code_%s" .Lang) }}</a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
        </header>
        {{ end }}
        
        {{ .Content }}
    </article>
</main>
{{ end }}