

.article-content {
  padding-bottom: 2rem;
  max-width: 40rem;
}

.article-single {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.article-header h1 {
  font-size: 3.2rem;
}

.article-content ol,
.article-content ul {
  margin-left: 2rem;
}

.article-list__header {
  margin-bottom: 2rem;
}