
/*
* special layout for single page view
*/

body.type-page .article-content p,
body.type-page .article-content h1,
body.type-page .article-content h2,
body.type-page .article-content h3,
body.type-page .article-content h4,
body.type-page .article-content h5,
body.type-page .article-content h6,
body.type-page .article-content ul,
body.type-page .article-header {
  padding-left: 2rem;
  padding-right: 2rem
}

body.type-page figure {
  max-width: 70rem;
  max-width: fit-content;
  margin: 0 auto;
}

body.type-page .site-header {
  grid-column-start: sidebar;
  grid-column-end: header;
  grid-row-start: unset;
  grid-row-end: 1;
}

body.type-page .site-main-content {
  grid-column-start: sidebar;
  grid-column-end: content;
  grid-row-start: 1;
  grid-row-end: 4;
}

body.type-page .article-single,
body.type-page .article-content {
  max-width: 100%;
}

body.type-page .site-header {

  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.type-page .nav-main {
  padding-left: 1rem;
  padding-top: 0;
}

body.type-page .nav-main li {
  display: inline-block;
}

@media all and (min-width: 800px) {
  body.type-page:not(.section-blog) .main {
    padding-left: 2rem;
  }
  }
  
  @media all and (max-width: 800px) {
    body.type-page .article-header {
        padding-left: 1rem;
        padding-right: 1rem
    }
  }