.txt--small {
  font-size: 1rem;
}

.x-small,
.txt--xsmall {
  font-size: .85rem;
}

.xx-small,
.txt--xxsmall {
  font-size: .65rem;
}

.txt--ultra-large {
  font-size: 4rem;
}

.txt--large { 
  font-size: 2.5rem;
}

.txt--medium { 
  font-size: 1.8rem;
}

.txt--bold {
  font-weight: bold;
}

h1 {
  font-size: 2.46rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

.article-content h2,
.article-content h3 {
  margin-top: 2rem;
}

.section-headline {
  font-size: 3.75em;
  margin-top: 2rem;
  line-height: 0.75;
}

/* Index Page */

.intro-splash {
  display: block;
  min-height: 90vh;
  display: flex;
  align-items: center;
}