.subscribe-via {
  background: var(--color-main);
  color: var(--color-font-fg-light);
  padding: .1rem 1rem;
  border-radius: 32px 67px 32px 42px;
  max-width: 60rem;
}

.subscribe-via a {
  color: var(--color-font-fg-light);
}