/* EXPERIMENTAL
**
*/
.site-support {
  padding: 1rem;
  display: grid;
  grid-template-areas:
      "top-left top-right"
      "center-left center-right"
      "bottom-left bottom-right";
}

.support {
  grid-row-start: center-left;
  grid-row-end: center-left;
}

.author {
  grid-row-start: top-right;
  grid-row-end: center-right;
}

.support, .author {
  background: transparent;
  margin: 2rem;
  border-radius: 20px 40px 15px 23px;
  position: relative;
  z-index: 1;
  padding:4rem  2rem;
}

.support::before,
.author::before {
  content: "";
  width: 100%;
  background: var(--color-secondary);
  position: absolute;
  top: -30px;
  left: 0;
  height: 100%;
  transform: skew(1deg, 1deg);
  border-radius: 23px 42px 7px 19px;
  z-index: -1;
}

.author::before {
  background: var(--color-main);
}


.author {
  flex-direction: row;
  align-items: center;
}

@media all and (min-width: 800px) {

  .footer,
  .author,
  .support {
      display: flex;
      justify-content: space-between;
  }

  .author .left,
  .support .left,
  .footer .left {
      margin-bottom: 0;
  }
}

.author .left,
.support .left,
.footer .left {
    margin-bottom: 2rem;
}

.support {
  color: var(--color-main);
  flex-direction: column;
}

.author {
  color: var(--color-secondary);
}

.support a {
  color: var(--color-main);
}

.author p,
.support p {
  margin-bottom: 0;
}

@media all and (min-width: 800px) {
  .author .right {
      padding-left: 2rem;
  }

  .author .avatar {
      margin-left: 2rem;
  }
}

.author .avatar {
  max-width: 200px;
  transition: all linear 60s;
}

.author .avatar:hover {
  animation: avatar-hue linear 15s infinite;
}

@keyframes avatar-hue {
  from {
      filter: hue-rotate(0deg);
  }

  to {
      filter: hue-rotate(360deg);
  }
}


@media all and (max-width: 1200px) {
  .author {
    border: 1px solid var(--color-secondary);
    border-style: inset;
  }
}

.support-cause-list__wrapper {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

.support-cause-list {
  text-indent: 1rem;
  margin-bottom: 1rem;
}

.support-cause-list li {
  margin-left: 1rem;
}

.support-cause-list .head {
  margin-left: -1rem;
  font-size: 1.25em;
  list-style: none;
}