* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-main: #403D58;
  --color-secondary: #dea584;
  --color-bg-box: #fefefe;
  --color-bg-page: #f1f1f1;
  --color-font-fg: #fff;

  --border-radius-fancy-1: 12px 24px 6px 48px;
  --border-radius-fancy-2: 48px 12px 24px 6px;
  --border-radius-fancy-3: 6px 48px 12px 24px;
  --border-radius-fancy-4: 24px 6px 48px 12px;
}

html,
body {
  box-sizing: border-box;
  font: 20px/1.65 sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: var(--color-bg-page);
}

body {
  border: .5rem solid var(--color-main);
}

::selection {
  background-color: var(--color-main);
  color: var(--color-secondary);
}

abbr {
  cursor: help;
  text-decoration: none;
  border-bottom: 2px dotted var(--color-main);
}

hr {
  border: none;
  background: var(--color-main);
  height: 2px;
}
