<section class="article-nextprev">
  <article class="article__next">
      <span class="txt--bold">{{ i18n "ui_prevnext_next" }}</span><br>
  {{ if ne .NextInSection nil }}
      <a class="txt--medium" href="{{.NextInSection.Permalink}}" title="{{ .NextInSection.Title }}">{{ .NextInSection.Title }}</a>
  {{ else }}
      <span class="txt--bold txt--medium">{{ i18n "ui_no_new_article" }}</span>
  {{ end }}
  </article>

  <article class="article__prev">
      <span class="txt--bold">{{ i18n "ui_prevnext_previous" }}</span><br>
  {{ if ne .PrevInSection nil }}
      <a class="txt--medium" href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}">{{ .PrevInSection.Title }}</a>
      {{ else }}
      <span class="txt--bold txt--medium">{{ i18n "ui_no_older_article" }}</span>
      {{ end }}
  </article>
</section>