<section class="support">
    <h4>Like this?</h4>
    <p>This website contains no <em>advertisement</em>, no <em>tracking</em>, no paid articles, and no
        shady-things-whatsoever. It is just content, provided free of charge and with accessibility in mind.</p>
    <p>If you would like to support me in providing <a href="/blog">content</a> - and <a
            href="https://github.com/kevingimbel" title="View open source code by Kevin Gimbel on GitHub">code</a> - for
        free or if this page has helped you or your company, consider supporting me directly.</p>
    <p>You can support me through:</p>
    <ul>
        <li><a href="https://paypal.me/kevingimbel">PayPal</a></li>
        <li><a href="https://liberapay.com/kevin/">Liberapay</a></li>
    </ul>
</section>
