---
title: "Books"
layout: single
permalink: "/books/"
---

{% markdown %}
I'm a slow reader. That's a sad fact and that is what makes me read books over literal months. I sometimes start a book, read a bit, stop reading for weeks, then pick it up again. 

I'm trying to change this and want to take more time for reading out of my day.

## Languages

The book titles are German and English mixed because I have read some books in German and some in English (a few even in German and English). 
{% note "info" %}
This section is still being put together, not all books have been added yet and since I never recorded this data anywhere I need to go through my bookshelf and Amazon orders to find all the books I've read.
{% endnote %}
{% endmarkdown %}

<ul class="post-list  book-list">
  {% set currentYear = "" %}
  {% for book in collections.books | reverse %}
   {% set postYear = book.date.getFullYear() %}
      {% if currentYear != postYear %}
      {% set currentYear = postYear %}
        <li class="post-listing__headline"><h3 id="year-{{ postYear }}">{{ postYear }}</h3></li>
    {% endif %}
    <li><small class="mr1">{% if book.data.in_progress %}Currently reading: {% else %}{% rating book.data.rating, "★", "☆" %}{% endif %}</small> <b>{{ book.data.title }}</b> by <i>{% for author in book.data.authors %}{{ author }} {% endfor %}</i></li>
  {% endfor %}
</ul>