---
title: "Home"
layout: single
head: |
  <style>
  :root {
      --content-width: 60rem;
  }
  
  .author__bio { margin: 0 0 2rem 0; max-width: 100%; }

  .post {
    margin-top: 2rem;
  }

  @media all and (max-width: 900px) {
    :root {
      --content-width: 80vw;
    }

    .flex__boxed {
      --padding: 1em 0 !important;
    }
  }

  .go-vote--home {
    box-shadow: 3em 3em 0 #FFE100, -3rem -3rem 0 #46962b;
    padding: 2rem;
  }
  
  .go-vote h1 {
    font-variant: small-caps;
    background: #145F32;
    color: #FFE100;
  }
  .go-vote h1 span {
    font-variant: none;
    font-style: none;
  }
  </style>

hide_page_title: "true"
---

<header class="go-vote go-vote--home">
  <h1>Zeit, was zu ändern.<span>🌻</span></h1>
  <p>Am 26. September 2021 ist Bundestagswahl in Deutschland, wählt <a href="https://www.gruene.de/leute/annalena-baerbock" title="Mehr infos über Annalena Baerbock auf gruene.de">Annalena Baerbock</a> für zukunftssichere Klima-, Digital- und Sozialpolitik.</p>
  <p>Mehr zum <a href="https://www.gruene.de/artikel/wahlprogramm-zur-bundestagswahl-2021" title="Gute Übersicht zum Wahlprogramm mit Stichpunkten zu verschiedenen Themen">Wahlprogramm</a> und generell zur Informationen zum <a href="https://www.gruene.de/bundestagswahl2021" title="Kampagnen Startseite mit Links und Infos">Bundestagswahl 2021</a> auf www.gruene.de</p>
  <p><span class="go-vote-action">Geht wählen!</span></p>
</header>

<hr style="margin-top: 6rem;">

<section class="pop-box">
<div class="[ flex flex--space-around flex--centered ]  [ small-flex__column ]">
  <div class="flex__boxed" style="--padding: 4rem 0 2rem">
    <div class="author__avatar" style="max-width: 250px; background: var(--color-secondary); padding-top: .5em; overflow: hidden;">
      <img src="/assets/img/kevin-avatar-nobg.svg" alt="Hand-made vector avatar of Kevin Gimbel" style="margin-bottom: -.5rem;"/>
    </div>
  </div>
  <div class="flex__boxed" style="--padding: 2rem 0 2rem 2rem">
    <h2 class="mb0 mt0">Hi, I'm <a href="/about/">Kevin</a>.</h2>
    <p>I'm a <b><i class="t-accent">DevOps Engineer</i></b> with a focus on automation and security.</p>
  </div>
</div>
  <p>Before shifting into DevOps and cloud computing I worked as <i class="t-accent">Front-End Developer</i>, which is still a hobby and field of interest for me.</p>

  <p>You can find out more <a href="/about">on the about page</a>.</p>
</section>


<section class="break-full-width home__last-posts-wrap">
<h2 class="h1">The last things I wrote about</h2>
<div class="home__last-posts">
{% set limit = 3 %}
{% set current = 0 %}
{% set posts = collections.blog | reverse %}

  {% for post in posts %}
    {% if current < limit %}
      {% if post.data.resources %}
        <article class="post-teaser post-teaser-{{ current }} post-teaser__has-bg-img" style="background-image: url('{{ post.url }}/{{ post.data.resources[0].src }}'); background-size: cover;">
      {% else %}
        <article class="post-teaser post-teaser-{{ current }}">
      {% endif %}
    <a href="{{ post.url }}" title="Continue reading {{ post.data.title }}">
      <div class="post-teaser__body">
        <h3 class="post-teaser__headline">{{ post.data.title }}</h3>
        {% if post.data.subtitle %}
          <p class="h4 post-teaser__sub-headline">{{ post.data.subtitle }}</p>
        {% else %}
          <p>{{ post.templateContent | striptags(true) | safe | truncate(280) }}</p>
        {% endif %}
      </div>
    </a>

    </article> 
    {% endif %}
    {% set current = current + 1 %}
  {% endfor %}

  <div class="post-teaser__view-all">
    <p><a href="/blog">View all articles</a> 👉</p>
  </div>
</div>
</section>

<section class="break-full-width home__last-posts-wrap">
<h2 class="h1">The last open source things I coded</h2>
<div class="home__last-posts">

  {% set posts = collections.projects | reverse %}
  {% set current = 0 %}

    {% for post in posts %}
      {% if current < limit %}
        <article class="post-teaser post-teaser-{{ current }}">
          <a href="{{ post.url }}" title="Continue reading {{ post.data.title }}">
            <div class="post-teaser__body">
              <h3 class="post-teaser__headline">{{ post.data.title }}</h3>
              {% if post.data.subtitle %}
                <p class="h4 post-teaser__sub-headline">{{ post.data.subtitle }}</p>
              {% endif %}
            </div>
          </a>
        </article> 
      {% endif %}
      {% set current = current + 1 %}
    {% endfor %}
</section>
</div>
