---
title: "Home"
layout: base
hide_page_title: "true"
head: |
  <style>
  :root {
    --color-header-wave: var(--color-page-pg);
  }
  </style>
---
<section class="break-full-width">
  <section class="side-by-side">
    <div class="wide">
      <h2>Hi, I'm Kevin &mdash; a DevOps Engineer with a passion for automation and monitoring</h2>
      <p>I work at <a href="https://synoa.de/" rel="nofollow">Synoa GmbH</a> where I'm responsible for the systems that run our Product <a href="https://synoa.de/konekti/" title="Learn more about Konekti" rel="nofollow">Konekti</a> as well as the systems that build and test our code.</p>
      <p>You can find out more <a href="/about">on the about page</a>.</p>
    </div>
    <div class="small">
      <img class="author__avatar" src="/assets/img/kevin-in-a-mirror.jpg"  alt="Photograph of me, looking into a tiny mirror.">
    </div>
  </section>
</section>

<section class="break-full-width home__last-posts-wrap">
<h2 class="h1">The last things I wrote about</h2>
<div class="home__last-posts">
{% set limit = 3 %}
{% set current = 0 %}
{% set posts = collections.blog | reverse %}

  {% for post in posts %}
    {% if current < limit %}
      {% if post.data.resources %}
        <article class="post-teaser post-teaser-{{ current }} post-teaser__has-bg-img" style="background-image: url('{{ post.url }}/{{ post.data.resources[0].src }}'); background-size: cover;">
      {% else %}
        <article class="post-teaser post-teaser-{{ current }}">
      {% endif %}
    <a href="{{ post.url }}" title="Continue reading {{ post.data.title }}">
      <div class="post-teaser__body">
        <h3 class="post-teaser__headline">{{ post.data.title }}</h3>
        {% if post.data.subtitle %}
          <p class="h4 post-teaser__sub-headline">{{ post.data.subtitle }}</p>
        {% else %}
          <p>{{ post.templateContent | striptags(true) | safe | truncate(280) }}</p>
        {% endif %}
      </div>
    </a>

    </article> 
    {% endif %}
    {% set current = current + 1 %}
  {% endfor %}

  <div class="post-teaser__view-all">
    <p><a href="/blog">View all articles</a> 👉</p>
  </div>
</div>
</section>

<section class="break-full-width home__last-posts-wrap">
<h2 class="h1">The last open source things I coded</h2>
<div class="home__last-posts">

  {% set posts = collections.projects | reverse %}
  {% set current = 0 %}

    {% for post in posts %}
      {% if current < limit %}
        <article class="post-teaser post-teaser-{{ current }}">
          <a href="{{ post.url }}" title="Continue reading {{ post.data.title }}">
            <div class="post-teaser__body">
              <h3 class="post-teaser__headline">{{ post.data.title }}</h3>
              {% if post.data.subtitle %}
                <p class="h4 post-teaser__sub-headline">{{ post.data.subtitle }}</p>
              {% endif %}
            </div>
          </a>
        </article> 
      {% endif %}
      {% set current = current + 1 %}
    {% endfor %}
</section>
</div>
