{{ $original := resources.Get (printf "%s" (.Get 0)) }}
{{ $command := .Get 1 }}
{{ $options := .Get 2 }}
{{ if eq $command "Fit"}}
{{ .Scratch.Set "image" ($original.Fit $options) }}
{{ else if eq $command "Resize"}}
{{ .Scratch.Set "image" ($original.Resize $options) }}
{{ else if eq $command "Fill"}}
{{ .Scratch.Set "image" ($original.Fill $options) }}
{{ else }}
{{ .Scratch.Set "image" $original }}
{{ end }}
{{ $image := .Scratch.Get "image" }}
{{ $caption := .Inner | markdownify }}
{{ with $image }}
<figure class="figure">
    <img class="figure__img" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
    {{ with $caption }}
    <figcaption class="figure__caption">
        <p>{{ . }}</p>
    </figcaption>
    {{ end }}
</figure>
{{ end }}